- @info.info_en   || @info.build_info_en
- @info.info_tc   || @info.build_info_tc
= semantic_form_for [:admin, @info] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :main_event
    = f.input :title, as: :embedded_string, embedded_html: :mutil_lang
    -#= f.input :location
    = f.input :source, as: :embedded_string, embedded_html: :mutil_lang
    = f.input :image, as: :attachment, required: true,
                      hint: I18n.t('notices.max_image_size') + '2MB, Size: 244 X 148px',
                      image: proc { |o| o.image_url.to_s }
    = f.input :only_show_in_event
    - arr = I18n.locale.to_s.eql?('zh-CN') ? InfoTag.pluck(:id, :name).reject { |e| e[1].to_s.empty? } : InfoTag.pluck(:id, :name_en).reject { |e| e[1].to_s.empty? }
    - if arr.present?
      %li
        %div
          %label= I18n.t("activerecord.models.info_tag")
          %span
            - arr.each do |item|
              =check_box_tag 'tag_ids[]', item[0], @info.info_tag_relations.pluck(:info_tag_id).include?(item[0]) ? true : false
              %span{style: "margin-right: 20px"}= item[1]
    = f.input :published
    = f.input :hot
    = f.input :created_at
    = multilingual_editor_switch
    %li#markdown_cn
      ~ f.text_area :description
    %li#markdown_en
      = f.semantic_fields_for :info_en do |en|
        ~ en.text_area :description
    %li#markdown_tc
      = f.semantic_fields_for :info_tc do |en|
        ~ en.text_area :description
    -#~ f.input :description
  = f.submit data: { disable_with: 'Waiting...' }

:javascript
    $(function() {
        PkEditor.call($("#info_description"), $('form.info'));
        PkEditor.call($("#info_info_en_attributes_description"), $('form.info'));
        PkEditor.call($("#info_info_tc_attributes_description"), $('form.info'));
    });


