= semantic_form_for [:admin, @homepage_banner] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :image, as: :attachment, required: true,
                   hint: I18n.t('notices.max_image_size') + ' 2MB, Size 750 X 320px',
                   image: proc { |o| o.image_url.to_s }
    = f.input :source_type, as: :select, collection: AdminTrans::SOURCE_TYPES, include_blank: false,
              input_html: { class: 'trigger_search_form' }
    = f.input :source_id, as: :hidden, input_html: { class: 'source_id' }
    = f.input :source_title, input_html: { disabled: true, class: 'source_title' }
  = f.actions

= render 'admin/common/sources'
:javascript
  $(function() {
    HomepageEvent.bindFormEvents();
    $('select.trigger_search_form').trigger('change')
  });
