= semantic_form_for [:admin, resource] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :name
    = f.input :image, as: :attachment, required: true,
                     hint: '图片最大为 2MB',
                     image: proc { |o| o.image_url.to_s }
    = f.input :image_en, as: :attachment, required: true,
                     hint: '图片最大为 2MB',
                     image: proc { |o| o.image_en_url.to_s }
    = f.input :image_complex, as: :attachment, required: true,
                   hint: '图片最大为 2MB',
                   image: proc { |o| o.image_complex_url.to_s }
  = f.submit data: { disable_with: '请稍等...' }
