%div
  - url = @cash_queue.new_record? ? admin_cash_game_cash_queues_path(@cash_game) : admin_cash_game_cash_queue_path(@cash_game, @cash_queue)
  = semantic_form_for @cash_queue, url: url do |f|
    = f.semantic_errors *f.object.errors.keys
    = f.inputs do
      = f.input :small_blind
      = f.input :big_blind
      = f.input :table_numbers, hint: '此盲注级别开的桌子数量，下面的与之要对应起来'
      = f.input :table_no, hint: '桌子编号，比如开了1，4，6三张桌子，那么这里填写: 1,4,6'
      = f.input :table_people, hint: '与桌子编号对应，比如1，4，6分别有5，7，3个人在比赛，那么这里填：5,7,3'
      = f.input :buy_in, hint: '该级别买入的范围，比如 25K-50K(HKD)'
      = f.input :high_limit
      = f.input :notice
    = f.actions



