= semantic_form_for [:admin, @main_event] do |f|
  = f.semantic_errors *f.object.errors.keys
  = f.inputs do
    = f.input :name
    = f.input :logo, as: :attachment, required: true,
                     hint: I18n.t('notices.max_image_size') + ' 2MB, Size 576 X 288px',
                     image: proc { |o| o.logo_url.to_s }

    = f.input :live_url
    = f.input :location
    = f.input :amap_poiid, hint: content_tag('a', '获取地点详情', class: 'get_amap_detail', style: 'cursor:pointer')
    = f.input :amap_location
    = f.input :begin_time
    = f.input :end_time
    = f.input :published
    ~ f.input :description
  = f.submit data: { disable_with: 'Wating...' }

:javascript
    $(function() {
        PkEditor.call($("#main_event_description"), $('form.main_event'));

        $('.get_amap_detail').click(function(){
          let poiid = $('#main_event_amap_poiid').val()
          $.ajax({ url: '/zh-CN/admin/main_events/amap_detail?poiid=' + poiid })
          console.log(poiid)
        })
    });


